<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SPLRGE · Traefik admin center</title>

  @vite(['resources/js/app.js'])
</head>
<body>
<div class="page">
  @!sidebar()

  <div class="page-wrapper">
    <div class="page-header">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Home
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="page-body">
    </div>
  </div>
</div>

</body>
</html>
